<input type='hidden' id='viewname' value='member'>
<div id='pageheader'>
<%= link_to '戻る', dboad_show_path, id: 'back' %>
<span id='pagetitle'>メンバー一覧</span><br />
</div>
<br class='clear' />
<div>
<%= form_with(url: 'new', method: 'get', local: true) do |f| %>
  <div class="field">
    <%= f.label(:mbrname, 'メンバー名') %>
    <%= f.text_area :mbrname %>
    <%= f.submit('追加') %>
  </div>
<% end %>
</div>
<br class='clear' /><br />
<div class='simplelist'>
<%= render partial: 'layouts/member', collection: @members %>
<br class='clear' />
</div>
