<input type='hidden' id='viewname' value='LP'>
<div id='pageheader'><span id='pagetitle'>集会支援サービス</span></div>
<div>
  <p><%= @ctl.congname %></p>
  <p><%= @ctl.curdate %></p>
<div id='msgarea'>
<span id='message'><%= @ctl.message %></span>
</div>
</div>
<div id='funclist'>
  <p><%= link_to '一般', {controller: 'member', action: 'show'}, method: :post %></p>
  <p><%= link_to '司会者', {controller: 'stuff', action: 'show', stfname: '司会者'}, method: :post %></p>
  <p><%= link_to '案内', {controller: 'stuff', action: 'show', stfname: '案内'}, method: :post %></p>
  <p><%= link_to '音響', {controller: 'mecha', action: 'show'}, method: :post %></p>
  <p><%= link_to 'ダッシュボード', {controller: 'dboad', action: 'show'}, method: :post %></p>
</div>